
@keyframes ping-pong {
    from{
        left: 0;
    }

    to{
        left: 400px;
    }
}


.stage{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;
}

.ball{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation: ping-pong 2s ease-in-out 1s infinite alternate;
}