@keyframes ping-pong {
    from {
        left: 0;
    }

    to {
        left: 400px;
        background-color: red;
    }
}


@keyframes bounce {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        left: 150px;
        top: 200px;
        background-color: red;
    }

    50% {
        left: 300px;
        top: 0px;
        background-color: blue;
    }

    100% {
        left: 500px;
        top: 200px;
        background-color: red;
    }
}


.stage {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    background-color: aqua;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    /* animation: ping-pong 2s ease-in-out 1s infinite alternate; */

    animation: bounce 2s ease-in-out 1s infinite alternate;
}