
@keyframes explore {
    from{
        left: 0;
    }
    to{
        left: 500px;
    }
}


.stage{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;
}

.ball{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}