.container {
    border: 1px solid red;
}


.container img:hover{
transform: rotate(-60deg);
transform-origin: top right;
}

.ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}