.container {
    border: 1px solid red;
}

.bat{
    transition: transform 0.1s ease-in 0.1s ;
}

.container:hover .bat{
transform: rotate(-45deg);
transform-origin: top right;
}

.ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left:413px ;
    transition: transform 1s ease-out 0.2s;

}

.container:hover .ball{
transform: translate(1280px, -500px) ;
transform-origin: top right;


}