.container {
    border: 1px solid red;
}

.bat{
    
}

.container .bat:hover{
transform: rotate(-45deg);
transform-origin: top right;
}

.ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left:415px ;

}