img {
    height: 100%;
    width: 100%;
}

.row {
    height: 400px;
    display: flex;
    gap: 5px;
}


.row>div {
    flex: 1;
}


.vartical-cllage img {
    height: 50%;

}


.square-cllage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}