img {
    height: 100%;
    width: 100%;
}

.row {
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}


.row>div {
    flex: 1;
}


.vartical-cllage img {
    height: calc((100% -5px) /2);

}


.square-cllage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


/* responsive media quare  */

@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
    }
}