.box{
    width: 300px;
    height: 300px;
    border: 2px solid rebeccapurple;
     overflow-y: auto;
}

/* #box-1{
    overflow-y: scroll;
} */

.ellips{
    width: 200px;
    border: 1px solid red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
