.responsive-container1 {
    display: flex;

    width: 100%;
    gap: 10px;


}



.images-box2 {
    width: 50%;
    height: 300px;
    overflow: hidden;


}

.images-box2 img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;

}





.responsive-container1-p {
    width: 100%;
    height: 200px;
}

button {
    background-image: linear-gradient(red, rgb(3, 3, 212), #0bf10b);
    height: 50px;
    width: auto;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    color: white;
    border: 1px solid white;
    box-shadow: 10px 10px 10px black;
}

button:hover {
    background-image: radial-gradient(blue, orange);
}




@media screen and (max-width: 576px) {
    .responsive-container1 {
        flex-direction: column;

    }

    .images-box2 {
        width: 100%;
    }

    .images-box2 img {
        width: 100%;

    }

    .responsive-container1-p {
        width: 100%;
    }



}