* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    background-color: slateblue;
    padding: 20px;
    border-radius: 20px;
}


.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.item {
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid tomato;

}


@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }
}