/* nav bar strat */


nav>ul {
    display: flex;
    justify-content: center;

}

nav li {
    list-style: none;
    margin: 20px;
}

nav li:hover {
    background-color: rgb(210, 246, 8);

}

nav ul li a {
    text-decoration: none;

}


input:focus {
    color: brown;

}

.inp input {
    margin: 20px;
    height: 20px;
    width: 70%;
    padding: 10px;
    border: none;
    border: 1px solid #161212;


}


form {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp {
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    margin-bottom: 6px;
}

button {

    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 8%;
    border: 1px solid salmon;
}

.position2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;


}

.position2 img {
    background-size: 50px;
    border-radius: 10%;


}

.position3 {
    height: 300px;
    width: 50%;
    background-image: repeating-radial-gradient(blue, yellow 10%, green 15%);
    border-radius: 50%;
}