input:focus {
    color: brown;

}

.inp input {
    margin: 10px;
    height: 20px;
    width: 70%;

}


form {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp {
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    margin-bottom: 6px;
}

button {

    height: 20px;
    width: 50px;
    background-color: blue;
    color: white;
    margin: 0 auto;
}