/* nav bar strat */


nav>ul {
    display: flex;
    justify-content: center;

}

nav li {
    list-style: none;
    margin: 20px;
}

nav li:hover {
    background-color: rgb(210, 246, 8);

}

nav ul li a {
    text-decoration: none;

}


input:focus {
    color: brown;

}

.inp input {
    margin: 20px;
    height: 20px;
    width: 70%;
    padding: 10px;
    border: none;
    border: 1px solid #161212;


}


form {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp {
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    margin-bottom: 6px;
}

button {

    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 8%;
    border: 1px solid salmon;
}


.position {
    display: flex;

}

.position2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;


}

.position2 img {
    background-size: 50px;
    border-radius: 10%;


}

.position3 {
    height: 300px;
    width: 50%;
    background-image: repeating-radial-gradient(white, red 10%, green 15%);
    border-radius: 40%;
    margin: 30% auto;

}

.position4 {
    height: 300px;
    width: 50%;
    background-image: conic-gradient(red, yellow, green, white, blue);
}

.position5 {
    height: 300px;
    width: 50%;
    background-image: radial-gradient(red, green, blue);
}

.position6 {
    height: 300px;
    width: 50%;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
}

.position7 {
    height: 300px;
    width: 50%;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

.position4 {
    height: 300px;
    width: 50%;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
}

.position4 {
    height: 300px;
    width: 50%;
    background-image: conic-gradient(red, yellow, green, white, blue);
}

.position4 {

    height: 300px;
    width: 50%;
    background-image: conic-gradient(red, yellow, green, white, blue);
}

/* background-image: url('paper.gif');
background-image: url('img_tree.gif'), url('paper.gif');
background-image: conic-gradient(red, yellow, green);
background-image: linear-gradient(red, yellow, blue);
background-image: radial-gradient(red, green, blue);
background-image: repeating-conic-gradient(red 10%, yellow 20%);
background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
background-image: repeating-radial-gradient(red, yellow 10%, green 15%); */

/* @media screen and (max-width: 576px) {

    .position {
        display: grid;
        grid-column: ;
    }
} */


.prent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid navy;
    height: 500px;
}

.boxone {
    height: 300px;
    width: 30%;
    border-radius: 20px;
    background-color: aqua;
}

.box2 {
    height: 300px;
    width: 60%;
    background-image: linear-gradient(red, yellow, green, blue);
    border-radius: 20px;
}

.perent2 {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .position {
        display: grid;
        grid-template-columns: auto;

    }

}

@media screen and (max-width: 576px) {

    .prent {
        flex-direction: column;


    }

    .boxone {
        width: 60%;
        height: 150px;
    }

}