body{
    margin-left: 50px;
}

.container, .inner{
    width: 200px;
    height: 200px;
    
}

.container{
    border: 1px solid red;
    background-color: aqua;
}
.inner{
    border: 1px solid green;
    background-color: greenyellow;
    /* transform: scale(0.25, 0.5); */
    /* transform: translateX(100px) rotate(45deg) scale(0.5); */
/* transform: rotate(-45deg); */
/* transform: scale(0.5) rotate(45deg) translateX(100px); */
}


.inner:hover{
transform: rotate(45deg);
}
