 /* nav bar strat */


 nav>ul {
     display: flex;
     justify-content: center;

 }

 nav li {
     list-style: none;
     margin: 20px;
 }

 nav li:hover {
     background-color: rgb(210, 246, 8);

 }

 nav ul li a {
     text-decoration: none;

 }

 /* nav bar end  */

 /* table strat  */


 td,
 th {
     border: 1px solid black;
     padding: 5px 10px;
 }

 table {
     border-collapse: collapse;
 }

 /* table end */


 h1 {
     display: flex;
     justify-content: center;
 }


 /* strat dropdown */

 nav li .drobdown {
     display: none;
     background-color: lemonchiffon;
     padding-left: 10px;

 }

 nav li:hover>.drobdown {
     display: block;
     position: absolute;
     /* margin-right: 50px; */

 }

 /* end dropdown */

 /* strat flex box */

 .content {
     background-color: beige;
     display: flex;
     justify-content: space-between;
     /* padding: 20px; */

 }

 .box {
     background-color: blue;

 }

 .d1 {
     display: flex;
     gap: 10px;
 }

 .d2 {
     display: flex;
     gap: 10px;
 }

 .d3 {
     display: flex;
     gap: 10px;
 }

 .d4 {
     display: flex;
     justify-content: space-between;
     grid-column: ;
     margin-top: 30px;
     height: 1000px;
     width: 100%;

 }

 .d4 {
     /* display: flex;
     flex-direction: ; */
     display: grid;
     column-gap: 50px;
     grid-template-columns: auto auto auto;
     background-color: aquamarine;
     padding: 10px;
     padding-right: 10px;
 }

 .box1 {
     background-color: #f1f1f1;
     padding: 20px;
     border: 1px solid;
     gap: 50px;

 }