.box{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: blue;
    transition:transform 1s ;
    /* transition: width 5s linear 3s, background-color 3s ease-in 2s; */
    /* transition: width 5s linear 3s; */
    /* transition: width 5s; */
}

.box:hover{
    transform: rotate(45deg) scale(1.5) translate(150px);
    /* width: 700px;
    background-color: blueviolet; */
}