:root{
    --primary-color: red;
    --secondary-color: steelblue;
    --font-size: 20px
}


h1{
    color: var(--primary-color) ;
}

h5{
    background-color: var(--primary-color);
}

.box{
    border: 1px solid var(--primary-color);
}
.box p{
    color: var(--primary-color);
    font-size: var(--font-size);
    width: calc(100% - 300px);

}